## EDA

### Imports

In [146]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [147]:
df_poll_to_2023 = pd.read_csv('../data/pollution_2000_2023.csv')
df_energy = pd.read_csv("../data/global-data-on-sustainable-energy.csv")

In [148]:
df_USA = df_energy[df_energy['Entity'] == 'United States']
df_USA.columns

Index(['Entity', 'Year', 'Access to electricity (% of population)',
       'Access to clean fuels for cooking',
       'Renewable-electricity-generating-capacity-per-capita',
       'Financial flows to developing countries (US $)',
       'Renewable energy share in the total final energy consumption (%)',
       'Electricity from fossil fuels (TWh)', 'Electricity from nuclear (TWh)',
       'Electricity from renewables (TWh)',
       'Low-carbon electricity (% electricity)',
       'Primary energy consumption per capita (kWh/person)',
       'Energy intensity level of primary energy (MJ/$2017 PPP GDP)',
       'Value_co2_emissions_kt_by_country',
       'Renewables (% equivalent primary energy)', 'gdp_growth',
       'gdp_per_capita', 'Density\n(P/Km2)', 'Land Area(Km2)', 'Latitude',
       'Longitude'],
      dtype='object')

In [149]:
df_USA.set_index(df_USA['Year'], inplace=True)
df_USA

,Entity,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US $),Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),...,Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
Year,,,,,,,,,,,,,,,,,,,,,
2000,United States,2000,100.0,100.0,NaN,NaN,5.43,2697.28,753.89,350.93,...,93999.860,6.73,5775810.000,4.027357,4.127484,36334.90878,36,9833517.0,37.09024,-95.712891
2001,United States,2001,100.0,100.0,NaN,NaN,4.68,2678.68,768.83,280.06,...,90772.180,6.54,5748260.000,3.421371,0.998341,37133.24281,36,9833517.0,37.09024,-95.712891
2002,United States,2002,100.0,100.0,NaN,NaN,4.84,2727.83,780.06,336.34,...,91201.060,6.50,5593029.785,4.015507,1.741695,38023.16111,36,9833517.0,37.09024,-95.712891
2003,United States,2003,100.0,100.0,NaN,NaN,5.33,2756.03,763.73,349.18,...,90619.110,6.33,5658990.234,4.180040,2.861211,39496.48588,36,9833517.0,37.09024,-95.712891
2004,United States,2004,100.0,100.0,NaN,NaN,5.48,2818.28,788.53,345.14,...,91504.484,6.22,5738290.039,4.101511,3.798891,41712.80107,36,9833517.0,37.09024,-95.712891
2005,United States,2005,100.0,100.0,NaN,NaN,5.84,2899.96,781.99,353.04,...,90654.530,6.04,5753490.234,4.219231,3.513214,44114.74778,36,9833517.0,37.09024,-95.712891
2006,United States,2006,100.0,100.0,NaN,NaN,6.40,2878.56,787.22,381.16,...,89067.040,5.82,5653080.078,4.678861,2.854972,46298.73144,36,9833517.0,37.09024,-95.712891
2007,United States,2007,100.0,100.0,NaN,NaN,6.30,2988.24,806.42,347.91,...,89395.140,5.81,5736319.824,4.373009,1.876171,47975.96770,36,9833517.0,37.09024,-95.712891
2008,United States,2008,100.0,100.0,NaN,NaN,6.85,2924.21,806.21,377.11,...,86378.650,5.67,5558379.883,5.004550,-0.136580,48382.55845,36,9833517.0,37.09024,-95.712891
2009,United States,2009,100.0,100.0,NaN,NaN,7.35,2725.41,798.85,415.56,...,81376.180,5.53,5156430.176,5.800006,-2.536757,47099.98047,36,9833517.0,37.09024,-95.712891
2010,United States,2010,100.0,100.0,NaN,NaN,7.44,2882.49,806.97,424.48,...,83397.480,5.52,5392109.863,5.840555,2.563767,48466.65760,36,9833517.0,37.09024,-95.712891
2011,United States,2011,100.0,100.0,NaN,NaN,8.36,2788.93,790.20,509.74,...,81962.360,5.36,5173600.098,6.897319,1.550836,49882.55813,36,9833517.0,37.09024,-95.712891
2012,United States,2012,100.0,100.0,NaN,NaN,8.73,2779.02,769.33,492.32,...,79102.340,5.15,4956060.059,6.886334,2.249546,51602.93105,36,9833517.0,37.09024,-95.712891
2013,United States,2013,100.0,100.0,NaN,NaN,9.08,2746.21,789.02,520.38,...,80556.516,5.15,5092100.098,7.134616,1.842081,53106.53677,36,9833517.0,37.09024,-95.712891
2014,United States,2014,100.0,100.0,NaN,NaN,9.22,2752.01,797.17,546.83,...,80725.086,5.08,5107209.961,7.262891,2.525973,55049.98833,36,9833517.0,37.09024,-95.712891
2015,United States,2015,100.0,100.0,NaN,NaN,9.03,2730.32,797.18,556.49,...,79317.370,4.88,4990709.961,7.468743,3.075515,56863.37150,36,9833517.0,37.09024,-95.712891
2016,United States,2016,100.0,100.0,NaN,NaN,9.46,2656.96,805.69,624.91,...,78613.540,4.74,4894500.000,8.285086,1.711427,58021.40050,36,9833517.0,37.09024,-95.712891
2017,United States,2017,100.0,100.0,NaN,NaN,9.92,2540.17,804.95,707.19,...,78289.010,4.62,4819370.117,9.082049,2.332679,60109.65573,36,9833517.0,37.09024,-95.712891
2018,United States,2018,100.0,100.0,NaN,NaN,10.12,2661.30,807.08,733.17,...,80583.340,4.61,4975310.059,8.964939,2.996464,63064.41841,36,9833517.0,37.09024,-95.712891
2019,United States,2019,100.0,100.0,NaN,NaN,10.42,2588.21,809.41,760.76,...,79489.016,4.51,4817720.215,9.315263,2.161177,65279.52903,36,9833517.0,37.09024,-95.712891
2020,United States,2020,100.0,100.0,NaN,NaN,NaN,2431.90,789.88,821.40,...,73236.140,NaN,NaN,10.532232,-3.404592,63593.44362,36,9833517.0,37.09024,-95.712891

In [150]:
cols_to_drop = ['Entity', 'Year', 'Access to electricity (% of population)',
                'Access to clean fuels for cooking',
                'Renewable-electricity-generating-capacity-per-capita',
                'Financial flows to developing countries (US $)', 
                'Land Area(Km2)', 'Latitude', 'Longitude']

# Drop the specified columns in-place
df_USA_cleaned = df_USA.drop(columns=cols_to_drop)
df_USA_cleaned

,Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),Low-carbon electricity (% electricity),Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density\n(P/Km2)
Year,,,,,,,,,,,,
2000,5.43,2697.28,753.89,350.93,29.058150,93999.860,6.73,5775810.000,4.027357,4.127484,36334.90878,36
2001,4.68,2678.68,768.83,280.06,28.138706,90772.180,6.54,5748260.000,3.421371,0.998341,37133.24281,36
2002,4.84,2727.83,780.06,336.34,29.040926,91201.060,6.50,5593029.785,4.015507,1.741695,38023.16111,36
2003,5.33,2756.03,763.73,349.18,28.765244,90619.110,6.33,5658990.234,4.180040,2.861211,39496.48588,36
2004,5.48,2818.28,788.53,345.14,28.686348,91504.484,6.22,5738290.039,4.101511,3.798891,41712.80107,36
2005,5.84,2899.96,781.99,353.04,28.129686,90654.530,6.04,5753490.234,4.219231,3.513214,44114.74778,36
2006,6.40,2878.56,787.22,381.16,28.870703,89067.040,5.82,5653080.078,4.678861,2.854972,46298.73144,36
2007,6.30,2988.24,806.42,347.91,27.865068,89395.140,5.81,5736319.824,4.373009,1.876171,47975.96770,36
2008,6.85,2924.21,806.21,377.11,28.808554,86378.650,5.67,5558379.883,5.004550,-0.136580,48382.55845,36
2009,7.35,2725.41,798.85,415.56,30.823996,81376.180,5.53,5156430.176,5.800006,-2.536757,47099.98047,36
2010,7.44,2882.49,806.97,424.48,29.933590,83397.480,5.52,5392109.863,5.840555,2.563767,48466.65760,36
2011,8.36,2788.93,790.20,509.74,31.792154,81962.360,5.36,5173600.098,6.897319,1.550836,49882.55813,36
2012,8.73,2779.02,769.33,492.32,31.223783,79102.340,5.15,4956060.059,6.886334,2.249546,51602.93105,36
2013,9.08,2746.21,789.02,520.38,32.286140,80556.516,5.15,5092100.098,7.134616,1.842081,53106.53677,36
2014,9.22,2752.01,797.17,546.83,32.812420,80725.086,5.08,5107209.961,7.262891,2.525973,55049.98833,36
2015,9.03,2730.32,797.18,556.49,33.145770,79317.370,4.88,4990709.961,7.468743,3.075515,56863.37150,36
2016,9.46,2656.96,805.69,624.91,34.998875,78613.540,4.74,4894500.000,8.285086,1.711427,58021.40050,36
2017,9.92,2540.17,804.95,707.19,37.315506,78289.010,4.62,4819370.117,9.082049,2.332679,60109.65573,36
2018,10.12,2661.30,807.08,733.17,36.659092,80583.340,4.61,4975310.059,8.964939,2.996464,63064.41841,36
2019,10.42,2588.21,809.41,760.76,37.759180,79489.016,4.51,4817720.215,9.315263,2.161177,65279.52903,36
2020,NaN,2431.90,789.88,821.40,39.851800,73236.140,NaN,NaN,10.532232,-3.404592,63593.44362,36

In [151]:
print(df_poll_to_2023.columns)

Index(['Unnamed: 0', 'Date', 'Address', 'State', 'County', 'City', 'O3 Mean',
       'O3 1st Max Value', 'O3 1st Max Hour', 'O3 AQI', 'CO Mean',
       'CO 1st Max Value', 'CO 1st Max Hour', 'CO AQI', 'SO2 Mean',
       'SO2 1st Max Value', 'SO2 1st Max Hour', 'SO2 AQI', 'NO2 Mean',
       'NO2 1st Max Value', 'NO2 1st Max Hour', 'NO2 AQI'],
      dtype='object')

In [152]:
df_poll_to_2023.drop(columns=["Unnamed: 0","Address","County", "City"], inplace=True)
df_poll_to_2023.head()

,Date,State,O3 Mean,O3 1st Max Value,O3 1st Max Hour,O3 AQI,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI
0,2000-01-01,Arizona,0.019765,0.040,10,37,0.878947,2.2,23,25.0,3.000000,9.0,21,13.0,19.041667,49.0,19,46
1,2000-01-02,Arizona,0.015882,0.032,10,30,1.066667,2.3,0,26.0,1.958333,3.0,22,4.0,22.958333,36.0,19,34
2,2000-01-03,Arizona,0.009353,0.016,9,15,1.762500,2.5,8,28.0,5.250000,11.0,19,16.0,38.125000,51.0,8,48
3,2000-01-04,Arizona,0.015882,0.033,9,31,1.829167,3.0,23,34.0,7.083333,16.0,8,23.0,40.260870,74.0,8,72
4,2000-01-05,Arizona,0.007353,0.012,9,11,2.700000,3.7,2,42.0,8.708333,15.0,7,21.0,48.450000,61.0,22,58

In [153]:
df_poll_to_2023.shape

(665414, 18)

In [154]:
df_poll_to_2023[["Date"]]

              Date
0       2000-01-01
1       2000-01-02
2       2000-01-03
3       2000-01-04
4       2000-01-05
...            ...
665409  2023-06-26
665410  2023-06-27
665411  2023-06-28
665412  2023-06-29
665413  2023-06-30

[665414 rows x 1 columns]

In [155]:
df_poll_to_2023["Date"].value_counts()

Date
2019-12-04    104
2019-12-11    104
2019-12-06    103
2019-12-05    103
2019-12-08    103
             ...
2023-09-13      8
2023-09-17      8
2023-09-16      8
2023-09-06      8
2023-09-07      7
Name: count, Length: 8674, dtype: int64

In [156]:
df_poll_to_2023.groupby("Date")["State"].value_counts()

Date        State
2000-01-01  California        21
            Arizona            3
            Virginia           3
            Kansas             2
            New York           2
                              ..
2023-09-30  Arizona            1
            Illinois           1
            Louisiana          1
            Maryland           1
            North Carolina     1
Name: count, Length: 252006, dtype: int64

In [157]:
df_poll_to_2023["State"].value_counts(normalize=True)

State
California              0.302434
Pennsylvania            0.081366
Texas                   0.058580
Arizona                 0.037748
New York                0.034092
Virginia                0.030915
Colorado                0.024343
North Carolina          0.021714
Illinois                0.020743
Ohio                    0.020102
Maryland                0.019666
Hawaii                  0.019392
Utah                    0.018190
Oklahoma                0.017912
New Jersey              0.017676
Arkansas                0.016947
District Of Columbia    0.015805
Connecticut             0.015411
Iowa                    0.015123
Kansas                  0.014556
Missouri                0.014507
Maine                   0.014093
Florida                 0.013132
Louisiana               0.012609
Massachusetts           0.011393
Nevada                  0.010684
Kentucky                0.009336
Indiana                 0.008799
Wyoming                 0.008377
Oregon                  0.007965
Rhode Island            0.007806
North Dakota            0.007806
New Mexico              0.006621
Georgia                 0.006617
New Hampshire           0.006539
South Dakota            0.006527
Tennessee               0.006217
Washington              0.004920
Minnesota               0.004907
Michigan                0.004349
Delaware                0.004068
Alabama                 0.004050
Vermont                 0.003885
Idaho                   0.002938
South Carolina          0.002523
Alaska                  0.002278
Mississippi             0.002214
Wisconsin               0.002125
Name: proportion, dtype: float64

In [158]:
df_poll_to_2023['Date'] = pd.to_datetime(df_poll_to_2023['Date'])

In [159]:
df_poll_to_2023.dtypes

Date                 datetime64[ns]
State                        object
O3 Mean                     float64
O3 1st Max Value            float64
O3 1st Max Hour               int64
O3 AQI                        int64
CO Mean                     float64
CO 1st Max Value            float64
CO 1st Max Hour               int64
CO AQI                      float64
SO2 Mean                    float64
SO2 1st Max Value           float64
SO2 1st Max Hour              int64
SO2 AQI                     float64
NO2 Mean                    float64
NO2 1st Max Value           float64
NO2 1st Max Hour              int64
NO2 AQI                       int64
dtype: object

In [160]:
df_poll_to_2023.head()

,Date,State,O3 Mean,O3 1st Max Value,O3 1st Max Hour,O3 AQI,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI
0,2000-01-01,Arizona,0.019765,0.040,10,37,0.878947,2.2,23,25.0,3.000000,9.0,21,13.0,19.041667,49.0,19,46
1,2000-01-02,Arizona,0.015882,0.032,10,30,1.066667,2.3,0,26.0,1.958333,3.0,22,4.0,22.958333,36.0,19,34
2,2000-01-03,Arizona,0.009353,0.016,9,15,1.762500,2.5,8,28.0,5.250000,11.0,19,16.0,38.125000,51.0,8,48
3,2000-01-04,Arizona,0.015882,0.033,9,31,1.829167,3.0,23,34.0,7.083333,16.0,8,23.0,40.260870,74.0,8,72
4,2000-01-05,Arizona,0.007353,0.012,9,11,2.700000,3.7,2,42.0,8.708333,15.0,7,21.0,48.450000,61.0,22,58

In [161]:
df_poll_to_2023.set_index("Date", inplace=True)

In [162]:
coal = pd.read_csv('../data/use_energy_source_coal.csv')
natgas = pd.read_csv('../data/use_energy_source_ng.csv')
nuclear = pd.read_csv('../data/use_energy_source_nuke.csv')
petroleum = pd.read_csv('../data/use_energy_source_petro.csv')
renewable = pd.read_csv('../data/use_energy_source_renew.csv')
co2 = pd.read_csv('../data/CO2Emissions_State_1970to2021.csv')

In [163]:
coal.head()

,State,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,AK,"7,189","11,552","13,559","11,999","12,029","9,888","16,431","18,462","15,998",...,"15,521","14,819","18,225","19,511","16,613","16,376","17,325","17,620","18,527","18,694"
1,AL,"395,400","382,455","427,177","442,465","459,000","533,142","583,457","580,163","618,335",...,"547,004","565,051","575,912","494,311","410,168","378,890","377,152","317,180","256,687","309,791"
2,AR,356,275,160,135,186,163,111,104,132,...,"296,732","327,099","339,214","226,889","246,437","267,591","304,145","239,798","161,980","216,123"
3,AZ,210,211,"6,291","8,432","9,103","7,030","7,373","7,184","8,137",...,"420,570","454,865","447,849","385,822","323,878","334,512","331,492","257,727","156,821","160,299"
4,CA,"35,903","59,106","39,681","46,127","53,723","63,693","51,515","53,949","57,011",...,"43,832","38,151","39,486","30,967","32,077","33,663","33,256","30,886","28,034","28,244"

In [164]:
df = pd.read_csv('../data/Energy_CO2_1970to2021.csv')

In [165]:
def comma_drop(int_str):
    try:
        # Remove the ',' from string and convert to float
        comma_drop_value = float(str(int_str).replace(',',''))

        return comma_drop_value

    except ValueError:
        # Handle the case where the input is not a valid number with '%' symbol
        print("Error: Invalid input. Please provide a valid integer string.")
        return None

In [166]:
df['Coal_Value'] = df['Coal_Value'].map(comma_drop)
df['Natural_Gas_Value'] = df['Natural_Gas_Value'].map(comma_drop)
df['Nuclear_Energy_Value'] = df['Nuclear_Energy_Value'].map(comma_drop)
df['Petroleum_Energy_Value'] = df['Petroleum_Energy_Value'].map(comma_drop)
df['Renewable_Energy_Value'] = df['Renewable_Energy_Value'].map(comma_drop)

In [167]:
df['Coal_Value'] = df['Coal_Value'].astype(float)
df['Natural_Gas_Value'] = df['Natural_Gas_Value'].astype(float)
df['Nuclear_Energy_Value'] = df['Nuclear_Energy_Value'].astype(float)
df['Petroleum_Energy_Value'] = df['Petroleum_Energy_Value'].astype(float)
df['Renewable_Energy_Value'] = df['Renewable_Energy_Value'].astype(float)

In [168]:
df.dtypes

Year                        int64
State                      object
CO2_Value                 float64
Coal_Value                float64
Natural_Gas_Value         float64
Nuclear_Energy_Value      float64
Petroleum_Energy_Value    float64
Renewable_Energy_Value    float64
dtype: object

In [169]:
df_no_states = df.drop(columns="State")

In [170]:
df_us = df_no_states.groupby("Year").mean()

Takes the mean values for all variables from all states by year in order to create average national values for each variable

In [171]:
df_us

,CO2_Value,Coal_Value,Natural_Gas_Value,Nuclear_Energy_Value,Petroleum_Energy_Value,Renewable_Energy_Value
Year,,,,,,
1970,21.733333,240566.529412,425347.294118,4693.098039,578433.607843,79804.333333
1971,21.880392,227513.745098,438534.254902,8096.843137,598852.058824,83572.745098
1972,22.996078,237441.764706,444754.823529,11446.098039,645473.647059,85921.686275
1973,23.625490,254119.980392,443045.960784,17846.627451,682471.156863,86489.039216
1974,22.750980,248058.960784,426069.764706,24942.843137,655306.156863,92977.490196
1975,22.023529,248149.313725,391707.392157,37250.941176,641152.529412,91904.333333
1976,23.354902,266193.901961,399631.921569,41394.509804,689058.549020,92689.254902
1977,24.007843,272688.450980,391617.235294,52975.686275,727110.647059,82528.803922
1978,23.898039,269993.823529,393483.588235,59296.588235,743512.176471,98145.882353
1979,24.007843,294934.313725,405639.568627,54428.019608,726975.352941,100448.098039
1980,22.888235,303156.568627,396606.647059,53709.215686,669794.764706,106363.392157
1981,22.327451,312504.470588,387247.490196,58972.313725,625178.019608,106218.705882
1982,21.701961,299393.117647,360138.274510,61395.058824,591755.313725,117273.137255
1983,21.447059,311118.823529,337490.568627,62795.058824,588180.960784,127364.980392
1984,22.676471,333599.490196,360579.686275,69657.470588,607707.627451,126242.098039
1985,22.766667,343922.901961,347324.235294,79913.019608,605240.882353,119294.411765
1986,22.596078,338056.568627,325553.647059,85884.450980,630410.117647,119826.274510
1987,23.464706,351958.372549,346015.549020,93214.372549,643497.725490,110284.313725
1988,24.894118,370307.078431,361966.254902,109548.372549,670070.784314,106995.215686
1989,25.007843,373630.705882,384457.156863,109846.294118,669896.921569,122247.941176
1990,24.894118,375836.980392,384858.862745,119693.098039,656880.294118,118468.156863
1991,24.413725,372336.000000,392804.882353,125924.176471,642946.117647,118975.784314
1992,24.809804,374858.862745,406349.156863,127043.254902,656253.392157,114127.941176
1993,24.772549,388943.666667,416771.745098,125696.176471,658656.980392,119202.745098
1994,24.947059,390265.745098,426613.843137,131252.450980,675640.764706,117394.647059
1995,24.866667,394094.980392,445502.333333,138734.039216,673442.921569,128614.411765
1996,25.364706,411806.941176,453947.980392,138954.392157,697893.450980,137497.156863
1997,25.370588,420462.745098,458280.941176,129352.764706,707240.411765,137482.313725
1998,25.574510,423202.490196,449246.156863,138584.450980,720080.509804,127279.901961
1999,25.686078,423178.490196,449514.862745,149220.784314,739938.215686,127738.411765
2000,26.162549,442657.588235,466966.588235,154163.666667,748170.215686,119690.352941
2001,25.600392,429536.372549,446032.215686,157428.509804,746816.313725,101259.803922
2002,25.490196,429467.745098,461049.862745,159714.313725,747493.000000,112275.000000
2003,25.719608,437698.725490,447501.254902,156071.019608,759087.372549,116550.117647
2004,25.860784,440476.509804,449554.529412,161230.843137,787222.843137,119109.764706
2005,25.866667,446930.333333,442492.764706,160015.882353,788770.117647,122192.627451
2006,25.272549,440082.549020,435790.588235,161071.117647,779280.960784,130129.352941
2007,25.456863,446037.549020,464133.705882,165854.607843,772230.921569,127896.509804
2008,24.503922,438878.784314,467377.823529,165225.274510,721404.156863,140667.803922
2009,22.645098,386104.784314,459235.392157,163827.901961,681953.470588,149166.039216
2010,23.154902,408399.607843,481726.235294,165381.000000,692569.039216,162070.235294
2011,22.596078,385565.843137,489289.647059,162131.372549,679210.196078,180581.313725
2012,21.717647,340802.450980,511288.019608,158074.941176,663399.509804,173586.196078
2013,21.923529,353701.450980,525269.901961,161655.549020,674478.647059,185573.882353
2014,21.937255,352874.000000,536800.705882,163481.549020,679573.450980,191363.294118
2015,21.182353,304882.000000,552542.823529,163468.392157,693499.058824,191124.411765
2016,20.582353,278963.549020,556721.333333,165230.392157,700242.098039,204042.274510
2017,20.449020,271365.274510,550135.117647,165077.823529,706741.784314,218337.686275
2018,20.994118,259803.117647,611044.078431,165452.313725,723378.137255,222877.705882
2019,20.294118,221861.294118,632081.921569,165722.588235,722886.980392,224785.313725
2020,18.319608,180052.882353,618863.352941,161785.764706,633989.980392,225762.313725
2021,19.354902,206818.941176,620704.274510,159391.254902,691215.274510,237840.627451

In [172]:
df_us.to_csv('../data/USAverage_Energy_CO2_1970to2021.csv')

In [173]:
df_us_average = pd.read_csv('../data/USAverage_Energy_CO2_1970to2021.csv')

In [175]:
df_us_average.set_index('Year', inplace=True)

In [176]:
df_us_average.head()

,CO2_Value,Coal_Value,Natural_Gas_Value,Nuclear_Energy_Value,Petroleum_Energy_Value,Renewable_Energy_Value
Year,,,,,,
1970,21.733333,240566.529412,425347.294118,4693.098039,578433.607843,79804.333333
1971,21.880392,227513.745098,438534.254902,8096.843137,598852.058824,83572.745098
1972,22.996078,237441.764706,444754.823529,11446.098039,645473.647059,85921.686275
1973,23.625490,254119.980392,443045.960784,17846.627451,682471.156863,86489.039216
1974,22.750980,248058.960784,426069.764706,24942.843137,655306.156863,92977.490196

In [177]:
df_us_average.tail()

,CO2_Value,Coal_Value,Natural_Gas_Value,Nuclear_Energy_Value,Petroleum_Energy_Value,Renewable_Energy_Value
Year,,,,,,
2017,20.449020,271365.274510,550135.117647,165077.823529,706741.784314,218337.686275
2018,20.994118,259803.117647,611044.078431,165452.313725,723378.137255,222877.705882
2019,20.294118,221861.294118,632081.921569,165722.588235,722886.980392,224785.313725
2020,18.319608,180052.882353,618863.352941,161785.764706,633989.980392,225762.313725
2021,19.354902,206818.941176,620704.274510,159391.254902,691215.274510,237840.627451